#game {
  display: flex;
  justify-content: center;
}

#chess-board {
  display: flex;
  flex-direction: column-reverse;
  align-content: flex-end;
}

.row {
  display: flex;
}

.square {
  height: 60px;
  width: 60px;
  border: 1px solid black;
}

.black {
  background-color: darkolivegreen;
}

footer {
  display: none;
}
